<div class="w-full max-w-md mx-auto mt-10">
  <h1 class="text-xl font-semibold mb-4">Réinitialisation du mot de passe</h1>
  
  <p class="mb-4 text-gray-600">
    Entrez votre email pour recevoir un lien de réinitialisation.
  </p>

  <form (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <app-label>Email <span class="text-red-500">*</span></app-label>
      <app-input-field
        type="email"
        placeholder="votre-email@gmail.com"
        [value]="email"
        (valueChange)="email = $event.toString()"
        required
      ></app-input-field>
    </div>

    <app-button className="w-full" size="sm" (btnClick)="onSubmit()">Envoyer</app-button>
  </form>

  <div *ngIf="message" class="mt-4 text-green-600">{{ message }}</div>
  <div *ngIf="error" class="mt-4 text-red-600">{{ error }}</div>

  
</div>
